/* CSS Document */
p {
   color:purple;} span { color:white;background-color:black;} .crveni {color:red;}
   font-family:Comic Sans MS, "Halvetica", "sans-seif", Georgia;
   font-size: 14px;
   line-height: 16px;
   width:500px;
   background-color:
